<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Hello Spring Boot</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="panel panel-default" style="margin: 10px">
    <div class="panel-heading">
        <h4 class="title" style="display: inline;">Previsão do tempo para: </h4>
        <h1 class="panel-title" style="display: inline;"> Guaratinguetá, SP, BR</h1>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Dia da Semana</th>
                <th>Data/hora</th>
                <th>Temperatura Min.</th>
                <th>Temperatura Max.</th>
                <th>Umidade Relativa do Ar</th>
                <th>Latitude</th>
				<th>Longitude</th>
                <th>Descrição</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="periodo : ${periodos}">
                <td th:text="${periodo.diaSemana}"></td>
                <td th:text="${periodo.datahora}"></td>
                <td th:text="${periodo.temperaturaMin}"></td>
                <td th:text="${periodo.temperaturaMax}"></td>
                <td th:text="${periodo.huminade}"></td>
                <td th:text="${periodo.latitude}"></td>
                <td th:text="${periodo.longitude}"></td>
                <td th:text="${periodo.descricao}"></td>
            </tr>
            </tbody>
        </table>
        
        <form class="form-inline" method="post" th:object="${periodo}" th:action="@{/previsao}"  style="margin: 20px 0">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Dia da Semana" th:field="*{diaSemana}" />
				<input type="text" class="form-control" placeholder="Data" th:field="*{datahora}"/>
				<input type="text" class="form-control" placeholder="Temperatura Mínima" th:field="*{temperaturaMin}"/>
				<input type="text" class="form-control" placeholder="Temperatura Máxima" th:field="*{temperaturaMax}"/>
				<input type="text" class="form-control" placeholder="Umidade Relativa" th:field="*{huminade}"/>
				<input type="text" class="form-control" placeholder="Latitude" th:field="*{latitude}"/>
				<input type="text" class="form-control" placeholder="Longitude" th:field="*{longitude}"/>
				<input type="text" class="form-control" placeholder="Descrição" th:field="*{descricao}"/>
										
				<button type="submit" class="btn btn-primary" value="salvar">Adicionar</button>
			</div>
		</form>
    </div>
</div>
</body>
</html>